*{
    box-sizing: border-box
}

*{
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.bloom-title {
    font-family: 'Butterfly Kids', cursive;
    color: white;
}

.hero-section {
    background-color: pink;
}

.rectangles{
    padding: 50px 50px;
    background-color: black;
    margin: 20px;
    border: solid gray 10px;
}

.social-icons {
    color: white;
}

footer {
    background-color: black;
}

.footerText {
    color: white;
}